<div class="col-md-12">
  <!-- Widget: user widget style 1 -->
  <div class="box box-widget widget-user-2">
    
    
    
    <!-- Add the bg color to the header using any of the bg-* classes -->
    <div class="widget-user-header bg-navy" style="text-align: center;">
      
      <h2>REGISTER FORM</h2>

    </div>
    <div class="box-footer no-padding">

    

	<div ng-show="showForm">
      <!-- form start -->
      <div class="form-horizontal" style="margin-top: 20px;margin-left: 50px;">

        <div class="form-group">
          <label for="inputEmail3" class="col-sm-2 control-label">First Name : </label>

          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputEmail3" placeholder="First Name" ng-model="user.firstName">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Last Name</label>

          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPassword3" placeholder="Last Name" ng-model="user.lastName">
          </div>
        </div>
        
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Address 1</label>

          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPassword3" placeholder="Address 1" ng-model="user.address1">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Address 2</label>

          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPassword3" placeholder="Address 2" ng-model="user.address2">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">City</label>

          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPassword3" placeholder="City" ng-model="user.city">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">State</label>

          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPassword3" placeholder="State" ng-model="user.state">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Zip Code</label>

          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPassword3" placeholder="Zip" ng-model="user.zip">
          </div>
        </div>
        <div class="form-group">
          <label for="inputPassword3" class="col-sm-2 control-label">Country</label>

          <div class="col-sm-6">
            <input type="text" class="form-control" id="inputPassword3" placeholder="Country" ng-model="user.country" disabled>
          </div>
        </div>
          
        <div class="row">
          <div class="col-sm-2 col-sm-offset-5"><button type="submit" class="btn btn-info" ng-click="submit()">Submit</button></div>
        </div>

        




        <!-- /.box-footer -->
      </div>
      </div>
      <div ng-show="showForm == false" style="align-text:center;">
      		<h2>Form Submitted</h2>
      </div>

    </div>
</div>
<!-- /.widget-user -->
</div>
